<h2>Create New Medicine</h2>
<%= simple_form_for [@support, @medicine] do |f| %>
  <%= f.input :name, placeholder: 'Naproxen' %>
  <%= f.input :description, placeholder: 'What is the medicine about?' %>
  <div class="d-flex justify-content-start">
    <%= f.input :dosage,
                  label: "Dosage",
                  input_html: { min: 0 } %>
    <%= f.input :unit, collection: [ "g", "ml", "tablet"],
                  selected: "g",
                  class: "form-control" %>
  </div>
  <%= f.input :frequency, placeholder: "3 times in a day" %>
   <div data-controller="datepicker">
    <%= f.input :start_date,
          as: :string,
          label: 'Start Date',
          input_html: { data: { datepicker_target: "datePickerStart"}, placeholder: 'click me'} %>
    <%= f.input :end_date,
          as: :string,
          label: 'End Date',
          input_html: { data: { datepicker_target: "datePickerEnd"}, placeholder: 'click me'} %>
  </div>
  <%= f.input :photo, as: :file %>
  <div class="d-flex mt-4 mb-3">
    <%= link_to "Go Back", support_path(@support), class:'btn btn-outline-info btn-block mt-2 go-back-btn' %>
    <%= f.submit "Set reminder", class:'btn btn-info btn-block mt-2 mx-3' %>
  </div>
<% end %>
