<div class="container">
  <% if current_user.elderly? %>
    <div class="d-flex align-items-center mt-2">
      <%= link_to supports_path, class: "btn btn-info me-2", style: "font-size: 24px" do %>
        <i class="fa-solid fa-arrow-left-long"></i> Back
      <% end %>
      <h2 class="mb-0">All your medicines</h2>
    </div>
    <% medicines = Medicine.where(user_id: current_user.id) %>
    <ul class="list-unstyled">
      <div class="cards">
        <% medicines.order(created_at: :desc).each do |medicine| %>
          <div class="med-table-card <%= medicine.status %>">
            <%= cl_image_tag medicine.photo.key, class: 'img', crop: :fill if medicine.photo.key? %>
            <div class="med-table-content list-unstyled">
              <li class="med-table-name"><%= medicine.name.split.map(&:capitalize).join(' ') %></li>
              <% medicine.reminders.each do |reminder| %>
                <p class="m-1">Daily Intake Take:<%= reminder.time_to_taken.strftime("%l:%M %p") %></p>
              <% end %>
              <a type="button" class="text-decoration-none details-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Details</a>
            </div>
            <% if medicine.status == "pending" %>
              <div class="d-flex justify-content-between align-items-center">
                <%= simple_form_for medicine do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'taken'} %>
                  <%= f.submit 'TAKEN', class: 'btn taken mx-3'%>
                <% end %>
                <%= simple_form_for medicine do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'lost'} %>
                  <%= f.submit 'LOST', class: 'btn lost mx-3'%>
                <% end %>
              </div>
            <% else %>
              <div class="d-flex justify-content-between align-items-center">
                <%= simple_form_for medicine do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'pending'} %>
                  <%= f.submit 'RESET', class: 'btn btn-warning mx-3'%>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <% @support = Support.find_by(elderly_id: current_user.id) %>
      <%= link_to "Add Medicine", new_support_medicine_path(@support), class:'btn btn-outline-info btn-block mt-2 mb-5 go-back-btn' %>
    </ul>
  <% else %>
    <% @medicines.each do |medicine| %>
      <%= medicine.name  %><br>
      <%= medicine.description %>
    <% end %>
  <% end %>
</div>
