<div class="container">
  <% if current_user.elderly? %>
    <div class="d-flex align-items-center mt-2">
      <%= link_to supports_path, class: "btn btn-info me-2", style: "font-size: 24px" do %>
        <i class="fa-solid fa-arrow-left-long"></i> Back
      <% end %>
      <h2 class="mb-0">All your medicines</h2>
    </div>
    <% medicines = Medicine.where(user_id: current_user.id) %>
    <ul class="list-unstyled">
      <div class="cards">
        <% medicines.order(created_at: :desc).each do |medicine| %>
          <div class="med-table-card <%= medicine.status %> row">
            <%= cl_image_tag medicine.photo.key, class: 'img m-1 col-2', crop: :fill if medicine.photo.key? %>
            <div class="col-8 px-0">
              <li class="med-table-name mt-3"><%= medicine.name.split.map(&:capitalize).join(' ') %></li>
              <div class="d-flex align-items-start">
                <div class="med-table-content list-unstyled" style="padding: 0px;">
                  <% medicine.reminders.each do |reminder| %>
                    <p class="m-1" style="font-size: 40px;"><%= reminder.time_to_taken.strftime("%l %p") %></p>
                  <% end %>
                  <a type="button" class="text-decoration-none details-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Details</a>
                </div>
                <div class="col-3 d-flex justify-content-between align-items-center">
                  <% if medicine.status == "pending" %>
                    <%= simple_form_for medicine do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: 'taken'} %>
                      <button type="submit" class="btn taken pb-3">
                        <i class="fa-solid fa-square-check" style="font-size: 80px"></i>
                      </button>
                    <% end %>
                  <% else %>
                    <%= simple_form_for medicine do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: 'pending'} %>
                      <button type="submit" class="btn reset pb-3">
                        <i class="fa-solid fa-square-check" style="font-size: 80px; color: #039903;"></i>
                      </button>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% @support = Support.find_by(elderly_id: current_user.id) %>
      <%= link_to "Add Medicine", new_support_medicine_path(@support), class:'btn btn-outline-info btn-block mt-2 mb-5 go-back-btn' %>
    </ul>
  <% else %>
    <% @medicines.each do |medicine| %>
      <%= medicine.name  %><br>
      <%= medicine.description %>
    <% end %>
  <% end %>
</div>
