<h2>Set the reminder</h2>
<%= simple_form_for [@medicine, @reminder] do |f| %>
  <%= f.input :time_to_taken, as: :time, class: "form-control" %>
  <%= f.button :submit, "ADD", class: 'btn btn-info btn-block mt-2' %>
<% end %>
<ul>
  <% @reminders.each do |reminder| %>
    <li>
      <%= "Time: #{reminder.time_to_taken.strftime("%H:%M:%S")}" %>
      <p><%= "Dosage: #{reminder.medicine.dosage}" %></p>
    </li>
  <% end %>
</ul>
<%= link_to "Completed", support_path(@support), class: 'text-decoration-none btn btn-primary btn-block mt-2'%>
<%#= link_to "Go Back",root_path, class: 'text-decoration-none text-black'%>
