<div class="index-first-session">
  <div class="p-1" style="background-color: #FFB703; height: 40px; width: 100%;">
    <div class="d-flex justify-content-center">
      <% if @user.photo.key.present? %>
        <div class="me-3">
          <%= cl_image_tag @user.photo.key, class: "avatar-large" %>
        </div>
      <% else %>
        <div class="me-3">
          <img class="avatar-large" alt="avatar-large" src="https://t4.ftcdn.net/jpg/03/02/94/53/360_F_302945354_dqIiUiITKpard7fBVKDLtffIqnkDbyo4.jpg"/>
        </div>
      <% end %>
      <div class= "p-0">
        <h5 class="text-center mb-3 mt-1"><%= current_user.first_name.capitalize %>'s Profile</h5>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="user-parameters">
    <div class="parameter-box mb-2">
      <h3>First Name: <%= @user.first_name.present? ? @user.first_name.capitalize : "Please update your profile" %></h3>
    </div>
    <div class="parameter-box mb-2">
      <h3>Last Name: <%= @user.last_name.present? ? @user.last_name.capitalize : "Please update your profile" %></h3>
    </div>
    <div class="parameter-box mb-2">
      <h3>Gender: <%= @user.gender.present? ? @user.gender.capitalize : "Please update your profile" %></h3>
    </div>
    <div class="parameter-box mb-2">
      <h3>Address: <%= @user.address.present? ? @user.address : "Please update your profile" %></h3>
    </div>
    <div class="parameter-box mb-2">
      <h3>Phone Number: <%= @user.phone_number.present? ? @user.phone_number : "Please update your profile" %></h3>
    </div>
    <div class="parameter-box mb-2">
      <h3>Email: <%= @user.email.present? ? @user.email : "Please update your profile" %></h3>
    </div>
    <div class="parameter-box mb-2">
      <h3>Height(cm): <%= @user.height.present? ? @user.height : "Please update your profile" %></h3>
    </div>
    <div class="parameter-box mb-2">
      <h3>Birth Date: <%= @user.birth_date.present? ? @user.birth_date : "Please update your profile" %></h3>
    </div>
    <div class="parameter-box mt-2">
      <%= link_to "Update Profile", edit_user_path(@user), class: "btn btn-primary" %>
    </div>
  </div>
</div>
