<% @elderly = User.find(params[:user_id]) if params[:user_id] %>
<% if @health_records.last.date == Date.today %>
  <% mood_icons = ["", "fa-regular fa-face-laugh-beam", "fa-regular fa-face-smile", "fa-regular fa-face-meh", "fa-regular fa-face-frown", "fa-regular fa-face-tired"] %>
  <div class="d-flex justify-content-center align-items-center mt-2">
    <h1 class= "col-12">Health Record</h1>
  </div>
  <div class="health-record-card" style="font-size: 38px;">
    <div class="health_info d-flex align-items-center">
      <i class="fa-regular fa-face-meh-blank me-3" style="color: #eeff00;"></i>
      <h2 style="font-size: 40px; margin: 0px;">MOOD</h2>
      <div style="margin-left: auto;">
        <i class="<%= mood_icons[@health_records.last.mood_status] %>"></i>
      </div>
    </div>
    <div class="health_info d-flex align-items-center">
      <i class="fa-solid fa-circle-chevron-up me-3" style="color: #e22f22;"></i>
      <h2 style="font-size: 40px; margin: 0px;">SYS</h2>
      <div style="margin-left: auto;"><%= @health_records.last.sys %></div>
    </div>
    <div class="health_info d-flex align-items-center">
      <i class="fa-solid fa-circle-chevron-down me-3" style="color: #0d5be3;"></i>
      <h2 style="font-size: 40px; margin: 0px;">DIA</h2>
      <div style="margin-left: auto;"><%= @health_records.last.dia %></div>
    </div>
    <div class="health_info d-flex align-items-center">
      <i class="fa-solid fa-heart-pulse me-3" style="color: #f2392c;"></i>
      <h2 style="font-size: 40px; margin: 0px;">PULSE</h2>
      <div style="margin-left: auto;"><%= @health_records.last.pulse %></div>
    </div>
  </div>
  <h1 class= "col-12 mt-3">Weekly</h1>
  <%= render "graph_tabs" %>
<% else %>
  <div class="flash flash-warning alert alert-dismissible fade show" role="alert">
    <span><strong>🔔 <%= params[:user_id].nil? ? "You" : @elderly.first_name.capitalize %> don't have any record today</strong>
    </span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
  <% mood_icons = ["", "fa-regular fa-face-laugh-beam", "fa-regular fa-face-smile", "fa-regular fa-face-meh", "fa-regular fa-face-frown", "fa-regular fa-face-tired"] %>
  <div class="d-flex justify-content-center align-items-center mt-2">
    <h1 class= "col-12">Most Recent Health Record was on <%= @health_records.last.date.strftime('%b %d, %Y') %></h1>
  </div>
  <div class="health-record-card" style="font-size: 38px;">
    <div class="health_info d-flex align-items-center">
      <i class="fa-regular fa-face-meh-blank me-3" style="color: #eeff00;"></i>
      <h2 style="font-size: 40px; margin: 0px;">MOOD</h2>
      <div style="margin-left: auto;">
        <i class="<%= mood_icons[@health_records.last.mood_status] %>"></i>
      </div>
    </div>
    <div class="health_info d-flex align-items-center">
      <i class="fa-solid fa-circle-chevron-up me-3" style="color: #e22f22;"></i>
      <h2 style="font-size: 40px; margin: 0px;">SYS</h2>
      <div style="margin-left: auto;"><%= @health_records.last.sys %></div>
    </div>
    <div class="health_info d-flex align-items-center">
      <i class="fa-solid fa-circle-chevron-down me-3" style="color: #0d5be3;"></i>
      <h2 style="font-size: 40px; margin: 0px;">DIA</h2>
      <div style="margin-left: auto;"><%= @health_records.last.dia %></div>
    </div>
    <div class="health_info d-flex align-items-center">
      <i class="fa-solid fa-heart-pulse me-3" style="color: #f2392c;"></i>
      <h2 style="font-size: 40px; margin: 0px;">PULSE</h2>
      <div style="margin-left: auto;"><%= @health_records.last.pulse %></div>
    </div>
  </div>
  <h1 class= "col-12 mt-3">Weekly</h1>
  <%= render "graph_tabs" %>
<% end %>
<div class="d-flex justify-content-center align-items-center">
  <%= link_to "+", new_health_record_path, class: 'add-b' %>
</div>
