<% @health_records = HealthRecord.where(user: current_user) %>
<% @health_record_today = HealthRecord.where(user: current_user, created_at: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day) %>
<% mood_array = ["", "ðŸ˜ž", "ðŸ™", "ðŸ™‚", "ðŸ˜Š", "ðŸ˜†"] %>
<% if @health_record_today.any? %>
  <div class="health-profile">
    <span style="font-size: 32px;">
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" style=" width: 64px;"/>
      <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %> (<%= current_user.age %>)
      <%= mood_array[@health_record_today.mood_status] %>
    </span>
  </div>
  <div class="health-record-card" style="font-size: 48px;">
    <div class="health_info d-flex align-items-center">
      <i class="fa-solid fa-circle-chevron-up me-3" style="color: #e22f22;"></i>
      <h2 style="font-size: 40px; margin: 0px;">SYS</h2>
      <div style="margin-left: auto;"><%= @health_record_today.sys %></div>
    </div>
    <div class="health_info d-flex align-items-center">
      <i class="fa-solid fa-circle-chevron-down me-3" style="color: #0d5be3;"></i>
      <h2 style="font-size: 40px; margin: 0px;">DIA</h2>
      <div style="margin-left: auto;"><%= @health_record_today.dia %></div>
    </div>
    <div class="health_info d-flex align-items-center">
      <i class="fa-solid fa-heart-pulse me-3" style="color: #f2392c;"></i>
      <h2 style="font-size: 40px; margin: 0px;">PULSE</h2>
      <div style="margin-left: auto;"><%= @health_record_today.pulse %></div>
    </div>
    <div class="health_info d-flex align-items-center">
      <i class="fa-solid fa-weight-scale me-3" style="color: #4b86ec;"></i>
      <h2 style="font-size: 40px; margin: 0px;">WEIGHT</h2>
      <div style="margin-left: auto;"><%= @health_record_today.weight %></div>
    </div>
  </div>
<% else %>
  <p>You don't have any record today</p>
  <div class="health-profile">
    <span style="font-size: 32px;">
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" style=" width: 64px;"/>
      <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %> (<%= current_user.age %>)
    </span>
  </div>
  <div class="health-record-card" style="font-size: 48px;">
    <div class="health_info d-flex align-items-center my-2">
      <i class="fa-solid fa-circle-chevron-up me-3" style="color: #e22f22;"></i>
      <h2 style="font-size: 40px; margin: 0px;">SYS</h2>
      <div style="margin-left: auto; font-size: 28px;">No data</div>
    </div>
    <div class="health_info d-flex align-items-center my-2">
      <i class="fa-solid fa-circle-chevron-down me-3" style="color: #0d5be3;"></i>
      <h2 style="font-size: 40px; margin: 0px;">DIA</h2>
      <div style="margin-left: auto; font-size: 28px;">No data</div>
    </div>
    <div class="health_info d-flex align-items-center my-2">
      <i class="fa-solid fa-heart-pulse me-3" style="color: #f2392c;"></i>
      <h2 style="font-size: 40px; margin: 0px;">PULSE</h2>
      <div style="margin-left: auto; font-size: 28px;">No data</div>
    </div>
    <div class="health_info d-flex align-items-center my-2">
      <i class="fa-solid fa-weight-scale me-3" style="color: #4b86ec;"></i>
      <h2 style="font-size: 40px; margin: 0px;">WEIGHT</h2>
      <div style="margin-left: auto; font-size: 28px;">No data</div>
    </div>
  </div>
  <%= render "graph_tabs" %>
<% end %>
<canvas
  data-controller="chart"
  data-chart-data-value='{ "labels": ["January", "February", "March", "April", "May", "June", "July"], "datasets": [{ "label": "My First dataset", "backgroundColor": "transparent", "borderColor": "#3B82F6", "data": [37, 83, 78, 54, 12, 5, 99] }] }'
></canvas>
