<h2>New health Record</h2>
<%= simple_form_for [@support, @health_record] do |f| %>
  <%= f.input :mood_status,
              label: "How are you feeling today?",
              as: :radio_buttons,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'category-wrapper',
              item_wrapper_class: 'category-item my-1',
              input_html: {class: 'category-selector'},
              collection: [
              [raw("<div class='category-icon fa-3x'><i class='fa-regular fa-face-laugh-beam'></i></div>"), "1"],
              [raw("<div class='category-icon fa-3x'><i class='fa-regular fa-face-smile'></i></div>"), "2"],
              [raw("<div class='category-icon fa-3x'><i class='fa-regular fa-face-meh'></i></div>"), "3"],
              [raw("<div class='category-icon fa-3x'><i class='fa-regular fa-face-frown'></i></div>"), "4"],
              [raw("<div class='category-icon fa-3x'><i class='fa-regular fa-face-tired'></i></div>"), "5"],
              ] %>
  <%# <%= f.input :sys, input_html: { min: 0 } %>
  <%# <%= f.input :dia, input_html: { min: 0 } %>
  <%# <%= f.input :pulse, input_html: { min: 0 } %>
  <%# <%= f.input :weight, input_html: { min: 0 } %>
  <%= f.input :photo, as: :file %>
  <div class="d-flex mt-4 mb-3">
    <%= link_to "Go Back", health_records_path, class:'btn btn-outline-info btn-block mt-2 go-back-btn' %>
    <%= f.submit "Submit", class:'btn btn-info btn-block mt-2 mx-3' %>
  </div>
<% end %>
