<% if current_user.elderly?  %>
  <div class="container">
    <h1>Welcome <%= current_user.first_name.capitalize %>!</h1>
    <div class="text-center">
      <div class="d-flex justify-content-center align-items-center">
        <i class="fa-regular fa-clock me-2" style="font-size: 36px;"></i>
        <h2 style="font-size: 50px;"><%= Time.now.strftime("%l:%M") %> <span style="font-size: 24px;"><%= Time.now.strftime("%p") %></span></h2>
      </div>
      <p><%= Time.now.strftime("%A %d %B") %></p>
    </div>
    <div class="bd-callout">
      <% @appointments_today = Appointment.where(user: current_user, start_time: Date.today) %>
      <% if @appointments_today != [] %>
        <% @appointments_today.each do |appointment_today| %>
          <%= appointment_today.name %>
        <% end %>
      <% else %>
        <p>You don't have any appointment today.</p>
      <% end %>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <div style="display: flex; flex-direction: row;">
        <div style="margin: 10px; text-align: center;">
          <%= link_to health_records_path, class: "square-btn", style: "background-color: orange; display: inline-block; text-align: center; padding: 20px;" do %>
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
              <i class="fa-solid fa-capsules" style="font-size: 72px;"></i>
              <span style="display: block; font-size: 20px;">Medication</span>
            </div>
          <% end %>
        </div>
        <div style="margin: 10px; text-align: center;">
          <%= link_to health_records_path, class: "square-btn", style: "background-color: blue; display: inline-block; text-align: center; padding: 20px;" do %>
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
              <i class="fa-solid fa-calendar-days" style="font-size: 72px;"></i>
              <span style="display: block; font-size: 20px;">Appointment</span>
            </div>
          <% end %>
        </div>
      </div>
      <div style="display: flex; flex-direction: row;">
        <div style="margin: 10px; text-align: center;">
          <%= link_to health_records_path, class: "square-btn", style: "background-color: red; display: inline-block; text-align: center; padding: 20px;" do %>
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
              <i class="fa-solid fa-heart" style="font-size: 72px;"></i>
              <span style="display: block; font-size: 17px;">Health Record</span>
            </div>
          <% end %>
        </div>
        <div style="margin: 10px; text-align: center;">
          <%= link_to health_records_path, class: "square-btn", style: "background-color: green; display: inline-block; text-align: center; padding: 20px;" do %>
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
              <i class="fa-regular fa-message" style="font-size: 72px;"></i>
              <span style="display: block; font-size: 20px;">Chat</span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <ul class="nav tabs-underlined flex-nowrap" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <span class="nav-link tab-underlined active" id="medicines-tab" data-bs-toggle="tab" data-bs-target="#medicines-tab-pane" role="tab" aria-controls="medicines-tab-pane" aria-selected="true">MY MEDICINES </span>
      </li>
      <li class="nav-item" role="presentation">
        <span class="nav-link tab-underlined" id="appointments-tab" data-bs-toggle="tab" data-bs-target="#appointments-tab-pane" role="tab" aria-controls="appointments-tab-pane" aria-selected="false">MY APPOINTMENTS</span>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade py-3 show active" id="medicines-tab-pane" role="tabpanel" aria-labelledby="medicines-tab" tabindex="0">
        <%= render "elderly_medicines", medicines: @medicines %>
      </div>
      <div class="tab-pane fade py-3" id="appointments-tab-pane" role="tabpanel" aria-labelledby="appointments-tab" tabindex="0">
        <%= render "elderly_appointments", appointments: @appointments %>
      </div>
    </div>
  </div>
<% else %>
  <div class=" border-bottom border-primary p-1" style="background-color: #FFB703; height: 40px; width: 100%;">
    <div class="d-flex justify-content-center">
      <div class="me-3">
        <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" style=" width: 30px;"/>
      </div>
      <div class= "p-0">
        <h5 class="text-center mb-3 mt-1">Hello <%= current_user.first_name.capitalize %>!</h5>
      </div>
    </div>
  </div>
  <div class= "container mt-3 ">
    <% @supports.each do |support| %>
      <div class="flash flash-warning alert alert-dismissible fade show" role="alert">
        <span><strong>Reminder🔔 </strong>
          <p><%= support.elderly.first_name.capitalize %> has <%= support.elderly.appointments.active.count %> appointments today!</p>
        </span>
        <a data-bs-dismiss="alert" aria-label="Close" class="close-btn">
          <i class="fas fa-times"></i>
        </a>
      </div>
    <% end %>
    <%= render "list_of_elderlies", supports: @supports%>
  <% end %>
</div>
