<% if current_user.elderly?  %>
  <div class="container" data-controller="notification-subcription">
    <h1>Welcome <%= current_user.first_name.capitalize %>!</h1>
    <h2>Today's Date: <%= Time.now.strftime(" %A, %b %e - %l:%M %p")  %></h2>
    <ul class="nav tabs-underlined flex-nowrap" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <span class="nav-link tab-underlined active" id="medicines-tab" data-bs-toggle="tab" data-bs-target="#medicines-tab-pane" role="tab" aria-controls="medicines-tab-pane" aria-selected="true">MY MEDICINES </span>
      </li>
      <li class="nav-item" role="presentation">
        <span class="nav-link tab-underlined" id="appointments-tab" data-bs-toggle="tab" data-bs-target="#appointments-tab-pane" role="tab" aria-controls="appointments-tab-pane" aria-selected="false">MY APPOINTMENTS</span>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade py-3 show active" id="medicines-tab-pane" role="tabpanel" aria-labelledby="medicines-tab" tabindex="0">
        <%# <%= link_to "Add Appointment", new_support_appointment_path(current_user.id), class:'btn btn-outline-info btn-block mt-2 go-back-btn' %>
        <%= render "elderly_medicines", medicines: @medicines %>
      </div>
      <div class="tab-pane fade py-3" id="appointments-tab-pane" role="tabpanel" aria-labelledby="appointments-tab" tabindex="0">
        <%# <%= link_to "Add Medicine", new_support_medicine_path(support_id: current_user.id), class:'btn btn-outline-info btn-block mt-2 go-back-btn'%>
        <%= render "elderly_appointments", appointments: @appointments %>
      </div>
    </div>
  </div>
<% else %>
  <div class=" border-bottom border-primary p-1" style="background-color: #FFB703; height: 40px; width: 100%;">
    <div class="d-flex justify-content-center">
      <div class="me-3">
        <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" style=" width: 30px;"/>
      </div>
      <div class= "p-0">
        <h5 class="text-center mb-3 mt-1">Hello <%= current_user.first_name.capitalize %>!</h5>
      </div>
    </div>
  </div>
  <div class= "container mt-3 ">
    <% @supports.each do |support| %>
      <div class="flash flash-warning alert alert-dismissible fade show" role="alert">
        <span><strong>Reminder🔔 </strong>
          <p><%= support.elderly.first_name.capitalize %> has <%= support.elderly.appointments.active.count %> appointments today!</p>
        </span>
        <a data-bs-dismiss="alert" aria-label="Close">
          <i class="fas fa-times"></i>
        </a>
      </div>
    <% end %>
    <%= render "list_of_elderlies", supports: @supports%>
  <% end %>
</div>
