<div class="container">
  <div class="profile-info-card">
    <%= image_tag 'old-man.jpg', class: 'profile-photo'%>
    <% elderly = User.find(@support.elderly_id) %>
    <h1><%= elderly.first_name.capitalize %> <%= elderly.last_name.capitalize %></h1>
    <%# <p class="card"><%= elderly.username %>
    <div class="d-flex justify-content-between align-items-center">
      <p><i class="fa-solid fa-phone" style="color: #ffffff;"></i> <%= elderly.phone_number %></p>
      <p><i class="fa-solid fa-cake-candles" style="color: #ffffff;">  </i> <%= elderly.birth_date %></p>
    </div>
    <div class="d-flex justify-content-start align-items-center">
      <p><i class="fa-solid fa-house" style="color: #ffffff;"></i>  <%= elderly.address %></p>
    </div>
  </div>
  <div class="navigation">
    <ul class="nav tabs-underlined nav-bar d-flex justify-content-center" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <span class="nav-link tab-underlined active" id="medicines-tab" data-bs-toggle="tab" data-bs-target="#medicines-tab-pane" role="tab" aria-controls="medicines-tab-pane" aria-selected="true">MEDICINES</span>
      </li>
      <li class="nav-item" role="presentation">
        <span class="nav-link tab-underlined" id="appointments-tab" data-bs-toggle="tab" data-bs-target="#appointments-tab-pane" role="tab" aria-controls="appointments-tab-pane" aria-selected="false">APPOINTMENTS</span>
      </li>
    </ul>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade py-3 show active" id="medicines-tab-pane" role="tabpanel" aria-labelledby="medicines-tab" tabindex="0">
      <ul class="list-unstyled">
        <div class="cards">
          <div class="medicine-container">
            <div class="d-flex">
              <% elderly.medicines.order(created_at: :desc).each do |medicine| %>
                <div class="card">
                  <%= cl_image_tag medicine.photo.key, class: 'card-img', crop: :fill if medicine.photo.key? %>
                  <div class="card-content list-unstyled">
                    <li class="medicine-name"><%= medicine.name %></li>
                  </div>
                  <div class="card-content d-flex justify-content-center">
                    <li class="medicine-dosage"><%= medicine.dosage %> <%= medicine.unit %><br>
                      per day</li>
                    <li class="medicine-frequency mb-5"><%= medicine.frequency %> times <br>
                      per day</li>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <%= link_to "Add Medicine", new_support_medicine_path(@support), class:'btn btn-outline-info btn-block mt-2 mb-3 go-back-btn' %>
      </ul>
    </div>
    <div class="tab-pane fade py-3" id="appointments-tab-pane" role="tabpanel" aria-labelledby="appointments-tab" tabindex="0">
      <%= month_calendar(events: @appointments, end_attribute: :end_time) do |date, appointments| %>
        <%= date %>
        <% appointments.each do |appointment| %>
          <div class="appointment">
            <!--<p><%= appointment.name %></p>
          <small><%= appointment.time %></small>-->
            <i class="fa-regular fa-hospital" style="color: #219EBC;"></i>
          </div>
        <% end %>
      <% end %>
      <% appointments = Appointment.where(user_id: elderly.id) %>
      <ul class="list-unstyled">
        <div class="cards mb-2">
          <div class="appointment-container">
            <div class="row">
              <% appointments.each do |appointment| %>
                <div class="text-center font-weight-bold">
                  <li class="appointment-title"><%= appointment.name %>
                    <li><%= appointment.start_time %> </li>
                    <li><%= appointment.end_time %> </li>
                    <li><i class="fa-solid fa-location-pin"></i> <%= appointment.address %></li>
                  </div>
                <% end %>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
