<div class="container">
  <div class="profile-info-card">
    <% elderly = User.find(@support.elderly_id) %>
    <h1><%= elderly.first_name.capitalize %> <%= elderly.last_name.capitalize %></h1>
    <%# <p class="card"><%= elderly.username %>
    <p>Email: <%= elderly.email %></p>
    <p>Phone: <%= elderly.phone_number %></p>
    <p>DoB: <%= elderly.birth_date %></p>
    <p>Height: <%= elderly.height %>cm</p>
    <p>Home Address: <%= elderly.address %></p>
    <ul class="nav tabs-underlined" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <span class="nav-link tab-underlined active" id="medicines-tab" data-bs-toggle="tab" data-bs-target="#medicines-tab-pane" role="tab" aria-controls="medicines-tab-pane" aria-selected="true">MEDICINES</span>
      </li>
      <li class="nav-item" role="presentation">
        <span class="nav-link tab-underlined" id="appointments-tab" data-bs-toggle="tab" data-bs-target="#appointments-tab-pane" role="tab" aria-controls="appointments-tab-pane" aria-selected="false">APPOINTMENTS</span>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade py-3 show active" id="medicines-tab-pane" role="tabpanel" aria-labelledby="medicines-tab" tabindex="0">
        <ul class="list-unstyled">
          <% elderly.medicines.each do |medicine| %>
            <div class="medicine-container">
              <div class="card">
                <%# <%= cl_image_tag apparel.photo.key, class: 'img' if apparel.photo.key? %>
                <div class="card-img">
                  <%= image_tag 'blood-pressure.jpg', style: 'width: 250px; height: 250px;' %>
                  <%# <%= cl_image_tag medicine.photo.key, height: 300, width: 400, crop: :fill if medicine.photo.key? %>
                </div>
                <div class="card-content list-unstyled">
                  <li class="medicine-name"><%= medicine.name %></li>
                </div>
                <div class="card-content d-flex justify-content-center">
                  <li class="medicine-dosage"><%= medicine.dosage %> <%= medicine.unit %></li>
                  <li class="medicine-remaining-dosage"><%= medicine.dosage_remaining %> <%= medicine.unit %></li>
                  <li class="medicine-frequency mb-5"><%= medicine.frequency %>times a day</li>
                </div>
              </div>
            </div >
          <% end %>
          <%= link_to "Add Medicine", new_support_medicine_path(@support), class:'btn btn-outline-info btn-block mt-2 go-back-btn' %>
        </ul>
      </div>
      <div class="tab-pane fade py-3" id="appointments-tab-pane" role="tabpanel" aria-labelledby="appointments-tab" tabindex="0">
        <% appointments = Appointment.where(user_id: elderly.id) %>
        <% appointments.each do |appointment| %>
          <ul class="list-unstyled">
            <li><%= appointment.name %>
              <li><%= appointment.description %></li>
              <li><%= appointment.start_time %> </li>
              <li><%= appointment.end_time %> </li>
              <li><%= appointment.address %> </li>
            </ul>
          <% end %>
          <%= link_to "Add Appointment", new_support_appointment_path(@support), class:'btn btn-outline-info btn-block mt-2 go-back-btn' %>
        </div>
      </div>
    </div>
