<div class="container">
  <% elderly = User.find(@elderly.id) %>
  <p class="card"><%= elderly.first_name %></p>
  <p class="card"><%= elderly.last_name %></p>
  <%# <p class="card"><%= elderly.username %>
  <p class="card"><%= elderly.email %></p>
  <p class="card"><%= elderly.phone_number %></p>
  <p class="card"><%= elderly.birth_date %></p>
  <p class="card"><%= elderly.height %></p>
  <p class="card"><%= elderly.address %></p>
</div>
