<h2>Create New Appointments</h2>
<%= simple_form_for [@support, @appointment] do |f| %>
  <%= f.input :name, placeholder: 'Medical Check-up' %>
  <%= f.input :description, placeholder: 'What is the appointment about?'%>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.input :address %>
  <div class="d-flex justify-content-center mt-4 mb-3">
    <%= link_to "Back to Homepage", support_path(@support), class:'btn btn-outline-info btn-block mt-2 mx-3 go-back-btn' %>
    <%= f.submit "Create a Medical Appointment", class:'btn btn-info btn-block mt-2 mx-3' %>
  </div>
<% end %>
