<% if current_user.elderly? %>
  <div class="container">
    <div class="d-flex align-items-center mt-2">
      <%= link_to supports_path, class: "btn btn-info me-2", style: "font-size: 24px" do %>
        <i class="fa-solid fa-arrow-left-long"></i> Back
      <% end %>
      <h2 class="mb-0">All your appointment</h2>
    </div>
    <% appointments = Appointment.where(user_id: current_user.id) %>
    <% @support = Support.find_by(elderly_id: current_user.id) %>
    <%= month_calendar(events: appointments, end_attribute: :end_time) do |date, appointments| %>
      <div class="appointments-calendar-day text-center">
        <%= date %>
        <div class="appointment-icons-container">
          <% appointments.each do |appointment| %>
            <div class="appointment-icon" data-appointment-id="<%= appointment.id %>">
              <i class="fa-regular fa-hospital" style="color: #219EBC;"></i>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="appointment-details-container mb-5">
      <% appointments.each do |appointment| %>
        <div class="appointment-details" data-appointment-id="<%= appointment.id %>" style="display: none;">
          <p class="appointment-title"><%= appointment.name %></p>
          <p><%= appointment.start_time.strftime("%b %d %l:%M %p") %> - <%= appointment.end_time.strftime("%l:%M %p") %></p>
          <p><i class="fa-solid fa-location-pin"></i> <%= appointment.address %></p>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="container">
    <h1>My charges' appointments</h1>
    <% @appointments.each do |appointment| %>
      <% user = appointment.user %>
      <div class="col-12 col-lg-4 m-3 rounded p-0" style="background-color: #8ECAE6;">
        <%= link_to appointment_path(appointment), class: 'p-3 text-decoration-none text-black' do %>
          <div class="align-items-center justify-content-end">
            <p class="fs-3 text-black m-0 p-3"><%= user.first_name.capitalize %> <%= user.last_name.capitalize %></p>
            <p class="fs-3 text-black m-0 p-3"><%="#{appointment.name}" %></p>
            <p class="fs-3 text-black m-0 p-3"><%="#{appointment.start_time.strftime("%b %e, %l:%M %p")}" %></p>
          </div>
        <% end %>
      </div>
    <% end %>
    <h2>View Locations on Map</h2>
    <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
<% end %>
